Repository sir-Unknown/ha_City-Visitor-Parking: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-types, frontend-test, frontend-build

frontend-eslint:
  name: frontend eslint
  entry: yarn --cwd custom_components/city_visitor_parking/frontend lint:eslint
  language: system
  pass_filenames: false

frontend-prettier:
  name: frontend prettier
  entry: yarn --cwd custom_components/city_visitor_parking/frontend lint:prettier --write
  language: system
  pass_filenames: false

frontend-types:
  name: frontend types
  entry: yarn --cwd custom_components/city_visitor_parking/frontend lint:types
  language: system
  pass_filenames: false

frontend-test:
  name: frontend test
  entry: yarn --cwd custom_components/city_visitor_parking/frontend test
  language: system
  pass_filenames: false

frontend-build:
  name: frontend build
  entry: yarn --cwd custom_components/city_visitor_parking/frontend build
  language: system
  pass_filenames: false

Revert "todo: mark permit_remaining_minutes for rename to permit_remaining_balance"
  custom_components/city_visitor_parking/models.py
Due: none

fix: add missing time_unavailable translation key and update README screenshots (#154)
  README.md
  custom_components/city_visitor_parking/frontend/dist/translations/en.json
  custom_components/city_visitor_parking/frontend/dist/translations/nl.json
  custom_components/city_visitor_parking/frontend/src/translations/en.json
  custom_components/city_visitor_parking/frontend/src/translations/nl.json
Due: frontend-prettier, frontend-types, frontend-test, frontend-build

fix: prevent stale active-plate response and allow retry after fetch failure
  custom_components/city_visitor_parking/frontend/dist/city-visitor-parking-card.js
  custom_components/city_visitor_parking/frontend/src/index.ts
Due: frontend-eslint, frontend-prettier, frontend-types, frontend-test, frontend-build

fix: invalidate active-plate cache on periodic status refresh
  custom_components/city_visitor_parking/frontend/dist/city-visitor-parking-card.js
  custom_components/city_visitor_parking/frontend/src/index.ts
Due: frontend-eslint, frontend-prettier, frontend-types, frontend-test, frontend-build

feat: show permit balance in card when no favorite action is visible (#152)
  custom_components/city_visitor_parking/coordinator.py
  custom_components/city_visitor_parking/frontend/dist/city-visitor-parking-card.js
  custom_components/city_visitor_parking/frontend/src/index.ts
  custom_components/city_visitor_parking/models.py
  custom_components/city_visitor_parking/payloads.py
  custom_components/city_visitor_parking/sensor.py
Due: frontend-eslint, frontend-prettier, frontend-types, frontend-test, frontend-build

refactor: split frontend index.ts into focused modules
  custom_components/city_visitor_parking/frontend/dist/city-visitor-parking-card.js
  custom_components/city_visitor_parking/frontend/src/base.ts
  custom_components/city_visitor_parking/frontend/src/card-active.ts
  custom_components/city_visitor_parking/frontend/src/card-parking.ts
  custom_components/city_visitor_parking/frontend/src/editor-active.ts
  custom_components/city_visitor_parking/frontend/src/editor-parking.ts
  custom_components/city_visitor_parking/frontend/src/helpers.ts
  custom_components/city_visitor_parking/frontend/src/index.ts
  custom_components/city_visitor_parking/frontend/src/translations.ts
  custom_components/city_visitor_parking/frontend/src/types.ts
  custom_components/city_visitor_parking/frontend/src/ui.ts
Due: frontend-eslint, frontend-prettier, frontend-types, frontend-test, frontend-build

Fix frontend reservation button state
  custom_components/city_visitor_parking/frontend/dist/city-visitor-parking-card.js
  custom_components/city_visitor_parking/frontend/src/card-active.ts
  custom_components/city_visitor_parking/frontend/src/card-parking.ts
  custom_components/city_visitor_parking/frontend/src/helpers.ts
  custom_components/city_visitor_parking/frontend/src/ui.ts
Due: frontend-eslint, frontend-prettier, frontend-types, frontend-test, frontend-build

Fix frontend translation lookup
  custom_components/city_visitor_parking/frontend/dist/city-visitor-parking-card.js
  custom_components/city_visitor_parking/frontend/src/translations.ts
Due: frontend-eslint, frontend-prettier, frontend-types, frontend-test, frontend-build

refactor: split frontend index.ts into focused modules (#156)
  custom_components/city_visitor_parking/frontend/dist/city-visitor-parking-card.js
  custom_components/city_visitor_parking/frontend/src/base.ts
  custom_components/city_visitor_parking/frontend/src/card-active.ts
  custom_components/city_visitor_parking/frontend/src/card-parking.ts
  custom_components/city_visitor_parking/frontend/src/editor-active.ts
  custom_components/city_visitor_parking/frontend/src/editor-parking.ts
  custom_components/city_visitor_parking/frontend/src/helpers.ts
  custom_components/city_visitor_parking/frontend/src/index.ts
  custom_components/city_visitor_parking/frontend/src/translations.ts
  custom_components/city_visitor_parking/frontend/src/types.ts
  custom_components/city_visitor_parking/frontend/src/ui.ts
Due: frontend-eslint, frontend-prettier, frontend-types, frontend-test, frontend-build

frontend docstrings and status contract
  custom_components/city_visitor_parking/frontend/dist/city-visitor-parking-card.js
  custom_components/city_visitor_parking/frontend/src/base.ts
  custom_components/city_visitor_parking/frontend/src/card-active.ts
  custom_components/city_visitor_parking/frontend/src/card-parking.ts
  custom_components/city_visitor_parking/frontend/src/editor-active.ts
  custom_components/city_visitor_parking/frontend/src/editor-parking.ts
  custom_components/city_visitor_parking/frontend/src/helpers.ts
  custom_components/city_visitor_parking/frontend/src/index.ts
  custom_components/city_visitor_parking/frontend/src/translations.ts
  custom_components/city_visitor_parking/frontend/src/types.ts
  custom_components/city_visitor_parking/frontend/src/ui.ts
Due: frontend-eslint, frontend-prettier, frontend-types, frontend-test, frontend-build

frontend docstrings and status contract (#159)
  custom_components/city_visitor_parking/frontend/dist/city-visitor-parking-card.js
  custom_components/city_visitor_parking/frontend/src/base.ts
  custom_components/city_visitor_parking/frontend/src/card-active.ts
  custom_components/city_visitor_parking/frontend/src/card-parking.ts
  custom_components/city_visitor_parking/frontend/src/editor-active.ts
  custom_components/city_visitor_parking/frontend/src/editor-parking.ts
  custom_components/city_visitor_parking/frontend/src/helpers.ts
  custom_components/city_visitor_parking/frontend/src/index.ts
  custom_components/city_visitor_parking/frontend/src/translations.ts
  custom_components/city_visitor_parking/frontend/src/types.ts
  custom_components/city_visitor_parking/frontend/src/ui.ts
Due: frontend-eslint, frontend-prettier, frontend-types, frontend-test, frontend-build

add status payload contract test
  tests/components/city_visitor_parking/test_payloads.py
Due: none

add status payload contract test (#160)
  tests/components/city_visitor_parking/test_payloads.py
Due: none

Refine remaining balance sensor units
  custom_components/city_visitor_parking/sensor.py
  tests/components/city_visitor_parking/test_entities.py
Due: none

Rename permit_remaining_minutes to permit_remaining_balance
  custom_components/city_visitor_parking/coordinator.py
  custom_components/city_visitor_parking/frontend/dist/city-visitor-parking-card.js
  custom_components/city_visitor_parking/frontend/src/card-parking.ts
  custom_components/city_visitor_parking/frontend/src/types.ts
  custom_components/city_visitor_parking/models.py
  custom_components/city_visitor_parking/payloads.py
  custom_components/city_visitor_parking/sensor.py
  tests/components/city_visitor_parking/test_coordinator.py
  tests/components/city_visitor_parking/test_diagnostics.py
  tests/components/city_visitor_parking/test_entities.py
  tests/components/city_visitor_parking/test_payloads.py
  tests/components/city_visitor_parking/test_services.py
  tests/components/city_visitor_parking/test_websocket_api.py
Due: frontend-eslint, frontend-prettier, frontend-types, frontend-test, frontend-build

Match balance badge style to remaining balance sensor
  custom_components/city_visitor_parking/frontend/dist/city-visitor-parking-card.js
  custom_components/city_visitor_parking/frontend/dist/translations/en.json
  custom_components/city_visitor_parking/frontend/dist/translations/nl.json
  custom_components/city_visitor_parking/frontend/src/card-parking.ts
  custom_components/city_visitor_parking/frontend/src/helpers.ts
  custom_components/city_visitor_parking/frontend/src/translations/en.json
  custom_components/city_visitor_parking/frontend/src/translations/nl.json
  custom_components/city_visitor_parking/frontend/src/ui.ts
Due: frontend-eslint, frontend-prettier, frontend-types, frontend-test, frontend-build

Rename permit_remaining_minutes to permit_remaining_balance and match badge style to sensor (#161)
  custom_components/city_visitor_parking/coordinator.py
  custom_components/city_visitor_parking/frontend/dist/city-visitor-parking-card.js
  custom_components/city_visitor_parking/frontend/dist/translations/en.json
  custom_components/city_visitor_parking/frontend/dist/translations/nl.json
  custom_components/city_visitor_parking/frontend/src/card-parking.ts
  custom_components/city_visitor_parking/frontend/src/helpers.ts
  custom_components/city_visitor_parking/frontend/src/translations/en.json
  custom_components/city_visitor_parking/frontend/src/translations/nl.json
  custom_components/city_visitor_parking/frontend/src/types.ts
  custom_components/city_visitor_parking/frontend/src/ui.ts
  custom_components/city_visitor_parking/models.py
  custom_components/city_visitor_parking/payloads.py
  custom_components/city_visitor_parking/sensor.py
  tests/components/city_visitor_parking/test_coordinator.py
  tests/components/city_visitor_parking/test_diagnostics.py
  tests/components/city_visitor_parking/test_entities.py
  tests/components/city_visitor_parking/test_payloads.py
  tests/components/city_visitor_parking/test_services.py
  tests/components/city_visitor_parking/test_websocket_api.py
Due: frontend-eslint, frontend-prettier, frontend-types, frontend-test, frontend-build

fix: set replaced flag only when requirement string is actually mutated
  .github/workflows/release.yml
  uv.lock
Due: none

fix: retry _loadActivePlates when any device call fails in allSettled
  custom_components/city_visitor_parking/frontend/dist/city-visitor-parking-card.js
  custom_components/city_visitor_parking/frontend/src/card-parking.ts
  uv.lock
Due: frontend-eslint, frontend-prettier, frontend-types, frontend-test, frontend-build

fix: retry _loadActivePlates when any device call fails in allSettled (#162)
  custom_components/city_visitor_parking/frontend/dist/city-visitor-parking-card.js
  custom_components/city_visitor_parking/frontend/src/card-parking.ts
  uv.lock
Due: frontend-eslint, frontend-prettier, frontend-types, frontend-test, frontend-build

fix: set replaced flag only when requirement string is actually mutated (#163)
  .github/workflows/release.yml
Due: none

ci: assign category labels from PR title instead of changed file paths
  .github/labeler.yml
  .github/workflows/conventional-label.yml
Due: none

docs: add Dutch documentation link and update wiki URLs to language-specific paths
  README.md
  custom_components/city_visitor_parking/manifest.json
Due: none

feat: enable demo providers for testing without real credentials
  custom_components/city_visitor_parking/providers.yaml
Due: none

docs: add Dutch documentation link and update wiki URLs to language-specific paths (#166)
  README.md
  custom_components/city_visitor_parking/manifest.json
Due: none

ci: fix breaking-change detection for all types and scoped prefixes
  .github/workflows/conventional-label.yml
Due: none

fix: anchor breaking-change detection and add missing scoped aliases
  .github/workflows/conventional-label.yml
Due: none

ci: assign category labels from PR title instead of changed file paths (#165)
  .github/labeler.yml
  .github/workflows/conventional-label.yml
Due: none

feat: enable demo mode via configuration.yaml
  custom_components/city_visitor_parking/__init__.py
  custom_components/city_visitor_parking/config_flow.py
  custom_components/city_visitor_parking/const.py
  custom_components/city_visitor_parking/providers.yaml
Due: none

fix: use cv.boolean for demo mode config validation
  custom_components/city_visitor_parking/__init__.py
Due: none

chore: remove bak.frontend_files.yaml
  bak.frontend_files.yaml
Due: none

deps: bump pycityvisitorparking to 0.5.24
  custom_components/city_visitor_parking/manifest.json
  pyproject.toml
  uv.lock
Due: none

feat: enable demo mode via configuration.yaml (#167)
  bak.frontend_files.yaml
  custom_components/city_visitor_parking/__init__.py
  custom_components/city_visitor_parking/config_flow.py
  custom_components/city_visitor_parking/const.py
  custom_components/city_visitor_parking/manifest.json
  custom_components/city_visitor_parking/providers.yaml
  pyproject.toml
  uv.lock
Due: none

ci: enforce pycityvisitorparking version sync in manifest.json
  .github/workflows/validate.yml
Due: none

ci: parse pyproject.toml with tomllib instead of regex
  .github/workflows/validate.yml
Due: none

ci: use packaging.Requirement to parse pycvp dep spec in sync check
  .github/workflows/validate.yml
Due: none

ci: improve release notes templates across all release types
  .github/release-drafter-beta.yml
  .github/release-drafter-testing.yml
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Due: none

ci: enforce pycityvisitorparking version sync in manifest.json (#168)
  .github/workflows/validate.yml
Due: none

ci: run release-drafter autolabeler on PR events
  .github/workflows/release-drafter.yml
Due: none

ci: run release-drafter autolabeler in dry-run mode
  .github/workflows/release-drafter.yml
Due: none

Path conditions:
  frontend-eslint: any of: ^custom_components/city_visitor_parking/frontend/src/.*\.ts$
  frontend-prettier: any of: ^custom_components/city_visitor_parking/frontend/src/.*\.(ts|json|md|css)$
  frontend-types: any of: ^custom_components/city_visitor_parking/frontend/.*\.(ts|json)$
  frontend-test: any of: ^custom_components/city_visitor_parking/frontend/.*\.(ts|json|md|css)$
  frontend-build: any of: ^custom_components/city_visitor_parking/frontend/.*\.(ts|json|md|css)$
