Repository sir-Unknown/ha_City-Visitor-Parking: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-types, frontend-test, frontend-build

frontend-eslint:
  name: frontend eslint
  entry: yarn --cwd custom_components/city_visitor_parking/frontend lint:eslint
  language: system
  pass_filenames: false

frontend-prettier:
  name: frontend prettier
  entry: yarn --cwd custom_components/city_visitor_parking/frontend lint:prettier --write
  language: system
  pass_filenames: false

frontend-types:
  name: frontend types
  entry: yarn --cwd custom_components/city_visitor_parking/frontend lint:types
  language: system
  pass_filenames: false

frontend-test:
  name: frontend test
  entry: yarn --cwd custom_components/city_visitor_parking/frontend test
  language: system
  pass_filenames: false

frontend-build:
  name: frontend build
  entry: yarn --cwd custom_components/city_visitor_parking/frontend build
  language: system
  pass_filenames: false

Update README.md (#15)
  README.md
Due: none

Update README.md
  README.md
Due: none

Update README.md (#16)
  README.md
Due: none

Improve typing, tests, and tooling for city_visitor_parking
  .pre-commit-config.yaml
  .yamllint
  README.md
  SECURITY.md
  custom_components/city_visitor_parking/AGENTS.md
  custom_components/city_visitor_parking/__init__.py
  custom_components/city_visitor_parking/config_flow.py
  custom_components/city_visitor_parking/coordinator.py
  custom_components/city_visitor_parking/diagnostics.py
  custom_components/city_visitor_parking/entity.py
  custom_components/city_visitor_parking/helpers.py
  custom_components/city_visitor_parking/manifest.json
  custom_components/city_visitor_parking/models.py
  custom_components/city_visitor_parking/sensor.py
  custom_components/city_visitor_parking/services.py
  custom_components/city_visitor_parking/strings.json
  custom_components/city_visitor_parking/time_windows.py
  custom_components/city_visitor_parking/translations/en.json
  custom_components/city_visitor_parking/translations/nl.json
  custom_components/city_visitor_parking/websocket_api.py
  docs/README.md
  docs/cards.md
  docs/examples/automations.md
  docs/nl/README.md
  docs/troubleshooting.md
  mypy.ini
  pyrightconfig.json
  tests/components/city_visitor_parking/test_config_flow.py
  tests/components/city_visitor_parking/test_coordinator.py
  tests/components/city_visitor_parking/test_diagnostics.py
  tests/components/city_visitor_parking/test_entities.py
  tests/components/city_visitor_parking/test_init.py
  tests/components/city_visitor_parking/test_options_flow.py
  tests/components/city_visitor_parking/test_services.py
  tests/components/city_visitor_parking/test_time_windows.py
  tests/components/city_visitor_parking/test_websocket_api.py
  tests/conftest.py
Due: none

Bump version to 0.1.23
  custom_components/city_visitor_parking/manifest.json
Due: none

Document release steps
  RELEASING.md
Due: none

Fix CodeQL alerts and formatting
  custom_components/city_visitor_parking/__init__.py
  custom_components/city_visitor_parking/config_flow.py
  custom_components/city_visitor_parking/diagnostics.py
  custom_components/city_visitor_parking/entity.py
  custom_components/city_visitor_parking/models.py
  custom_components/city_visitor_parking/runtime_data.py
  custom_components/city_visitor_parking/sensor.py
  custom_components/city_visitor_parking/services.py
  custom_components/city_visitor_parking/time_windows.py
  custom_components/city_visitor_parking/websocket_api.py
  tests/components/city_visitor_parking/test_coordinator.py
  tests/components/city_visitor_parking/test_diagnostics.py
  tests/components/city_visitor_parking/test_entities.py
  tests/components/city_visitor_parking/test_services.py
  tests/components/city_visitor_parking/test_websocket_api.py
Due: none

Improve typing/tests and bump version to 0.1.23 (#17)
  .pre-commit-config.yaml
  .yamllint
  README.md
  RELEASING.md
  SECURITY.md
  custom_components/city_visitor_parking/AGENTS.md
  custom_components/city_visitor_parking/__init__.py
  custom_components/city_visitor_parking/config_flow.py
  custom_components/city_visitor_parking/coordinator.py
  custom_components/city_visitor_parking/diagnostics.py
  custom_components/city_visitor_parking/entity.py
  custom_components/city_visitor_parking/helpers.py
  custom_components/city_visitor_parking/manifest.json
  custom_components/city_visitor_parking/models.py
  custom_components/city_visitor_parking/runtime_data.py
  custom_components/city_visitor_parking/sensor.py
  custom_components/city_visitor_parking/services.py
  custom_components/city_visitor_parking/strings.json
  custom_components/city_visitor_parking/time_windows.py
  custom_components/city_visitor_parking/translations/en.json
  custom_components/city_visitor_parking/translations/nl.json
  custom_components/city_visitor_parking/websocket_api.py
  docs/README.md
  docs/cards.md
  docs/examples/automations.md
  docs/nl/README.md
  docs/troubleshooting.md
  mypy.ini
  pyrightconfig.json
  tests/components/city_visitor_parking/test_config_flow.py
  tests/components/city_visitor_parking/test_coordinator.py
  tests/components/city_visitor_parking/test_diagnostics.py
  tests/components/city_visitor_parking/test_entities.py
  tests/components/city_visitor_parking/test_init.py
  tests/components/city_visitor_parking/test_options_flow.py
  tests/components/city_visitor_parking/test_services.py
  tests/components/city_visitor_parking/test_time_windows.py
  tests/components/city_visitor_parking/test_websocket_api.py
  tests/conftest.py
Due: none

Improve typing, tests, and tooling for city_visitor_parking
  README.md
  custom_components/city_visitor_parking/__init__.py
  custom_components/city_visitor_parking/config_flow.py
  custom_components/city_visitor_parking/diagnostics.py
  custom_components/city_visitor_parking/models.py
  custom_components/city_visitor_parking/services.py
  custom_components/city_visitor_parking/time_windows.py
  custom_components/city_visitor_parking/websocket_api.py
  tests/components/city_visitor_parking/test_coordinator.py
  tests/components/city_visitor_parking/test_entities.py
Due: none

Format tests with ruff
  tests/components/city_visitor_parking/test_coordinator.py
  tests/components/city_visitor_parking/test_entities.py
Due: none

Workflow updates
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
Due: none

Workflow updates (#19)
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
Due: none

Remove permit selection step from config flow
  custom_components/city_visitor_parking/config_flow.py
  tests/components/city_visitor_parking/test_config_flow.py
Due: none

Adjust CodeQL workflow permissions
  .github/workflows/codeql.yml
Due: none

frontend: improve permit selection
  custom_components/city_visitor_parking/frontend/dist/city-visitor-parking-active-card.js
  custom_components/city_visitor_parking/frontend/dist/city-visitor-parking-card.js
  custom_components/city_visitor_parking/frontend/src/card-shared.ts
  custom_components/city_visitor_parking/frontend/src/city-visitor-parking-active-card.ts
  custom_components/city_visitor_parking/frontend/src/city-visitor-parking-card.ts
Due: frontend-eslint, frontend-prettier, frontend-types, frontend-test, frontend-build

core: register config flow handler
  custom_components/city_visitor_parking/__init__.py
  custom_components/city_visitor_parking/config_flow.py
Due: none

chore: update tooling configs
  .github/workflows/validate.yml
  .pre-commit-config.yaml
  README.md
  mypy.ini
Due: none

Add frontend types hook trigger
  .pre-commit-config.yaml
Due: none

Improve async safety and provider timing
  custom_components/city_visitor_parking/__init__.py
  custom_components/city_visitor_parking/coordinator.py
Due: none

Fix lovelace resource version stat
  custom_components/city_visitor_parking/__init__.py
Due: none

Enable strict ruff rules and align tests
  .github/scripts/update_changelog.py
  custom_components/city_visitor_parking/__init__.py
  custom_components/city_visitor_parking/client.py
  custom_components/city_visitor_parking/config_flow.py
  custom_components/city_visitor_parking/coordinator.py
  custom_components/city_visitor_parking/diagnostics.py
  custom_components/city_visitor_parking/entity.py
  custom_components/city_visitor_parking/helpers.py
  custom_components/city_visitor_parking/models.py
  custom_components/city_visitor_parking/runtime_data.py
  custom_components/city_visitor_parking/sensor.py
  custom_components/city_visitor_parking/services.py
  custom_components/city_visitor_parking/time_windows.py
  custom_components/city_visitor_parking/websocket_api.py
  pyproject.toml
  tests/components/city_visitor_parking/test_config_flow.py
  tests/components/city_visitor_parking/test_coordinator.py
  tests/components/city_visitor_parking/test_diagnostics.py
  tests/components/city_visitor_parking/test_entities.py
  tests/components/city_visitor_parking/test_init.py
  tests/components/city_visitor_parking/test_options_flow.py
  tests/components/city_visitor_parking/test_services.py
  tests/components/city_visitor_parking/test_time_windows.py
  tests/components/city_visitor_parking/test_translations.py
  tests/components/city_visitor_parking/test_websocket_api.py
  tests/conftest.py
Due: none

Expand ruff-format to tests
  .pre-commit-config.yaml
  tests/components/city_visitor_parking/test_services.py
Due: none

Silence code scanning noise in tests
  .github/codeql/codeql-config.yml
  pyproject.toml
  tests/components/city_visitor_parking/test_coordinator.py
  tests/components/city_visitor_parking/test_diagnostics.py
Due: none

Defer lovelace resource registration
  custom_components/city_visitor_parking/__init__.py
  tests/components/city_visitor_parking/test_coordinator.py
Due: none

Permit selection flow, Lovelace resources, and linting alignment (#21)
  .github/codeql/codeql-config.yml
  .github/scripts/update_changelog.py
  .github/workflows/codeql.yml
  .github/workflows/validate.yml
  .pre-commit-config.yaml
  README.md
  custom_components/city_visitor_parking/__init__.py
  custom_components/city_visitor_parking/client.py
  custom_components/city_visitor_parking/config_flow.py
  custom_components/city_visitor_parking/coordinator.py
  custom_components/city_visitor_parking/diagnostics.py
  custom_components/city_visitor_parking/entity.py
  custom_components/city_visitor_parking/frontend/dist/city-visitor-parking-active-card.js
  custom_components/city_visitor_parking/frontend/dist/city-visitor-parking-card.js
  custom_components/city_visitor_parking/frontend/src/card-shared.ts
  custom_components/city_visitor_parking/frontend/src/city-visitor-parking-active-card.ts
  custom_components/city_visitor_parking/frontend/src/city-visitor-parking-card.ts
  custom_components/city_visitor_parking/helpers.py
  custom_components/city_visitor_parking/models.py
  custom_components/city_visitor_parking/runtime_data.py
  custom_components/city_visitor_parking/sensor.py
  custom_components/city_visitor_parking/services.py
  custom_components/city_visitor_parking/time_windows.py
  custom_components/city_visitor_parking/websocket_api.py
  mypy.ini
  pyproject.toml
  tests/components/city_visitor_parking/test_config_flow.py
  tests/components/city_visitor_parking/test_coordinator.py
  tests/components/city_visitor_parking/test_diagnostics.py
  tests/components/city_visitor_parking/test_entities.py
  tests/components/city_visitor_parking/test_init.py
  tests/components/city_visitor_parking/test_options_flow.py
  tests/components/city_visitor_parking/test_services.py
  tests/components/city_visitor_parking/test_time_windows.py
  tests/components/city_visitor_parking/test_translations.py
  tests/components/city_visitor_parking/test_websocket_api.py
  tests/conftest.py
Due: frontend-eslint, frontend-prettier, frontend-types, frontend-test, frontend-build

Improve favorites handling in card
  custom_components/city_visitor_parking/frontend/dist/city-visitor-parking-active-card-editor.js
  custom_components/city_visitor_parking/frontend/dist/city-visitor-parking-active-card.js
  custom_components/city_visitor_parking/frontend/dist/city-visitor-parking-card.js
  custom_components/city_visitor_parking/frontend/dist/translations/en.json
  custom_components/city_visitor_parking/frontend/dist/translations/nl.json
  custom_components/city_visitor_parking/frontend/src/card-editor-shared.ts
  custom_components/city_visitor_parking/frontend/src/card-shared.ts
  custom_components/city_visitor_parking/frontend/src/city-visitor-parking-active-card-editor.ts
  custom_components/city_visitor_parking/frontend/src/city-visitor-parking-active-card.ts
  custom_components/city_visitor_parking/frontend/src/city-visitor-parking-card-editor.ts
  custom_components/city_visitor_parking/frontend/src/city-visitor-parking-card.ts
  custom_components/city_visitor_parking/frontend/src/translations/en.json
  custom_components/city_visitor_parking/frontend/src/translations/nl.json
Due: frontend-eslint, frontend-prettier, frontend-types, frontend-test, frontend-build

Improve favorites handling in card (#23)
  custom_components/city_visitor_parking/frontend/dist/city-visitor-parking-active-card-editor.js
  custom_components/city_visitor_parking/frontend/dist/city-visitor-parking-active-card.js
  custom_components/city_visitor_parking/frontend/dist/city-visitor-parking-card.js
  custom_components/city_visitor_parking/frontend/dist/translations/en.json
  custom_components/city_visitor_parking/frontend/dist/translations/nl.json
  custom_components/city_visitor_parking/frontend/src/card-editor-shared.ts
  custom_components/city_visitor_parking/frontend/src/card-shared.ts
  custom_components/city_visitor_parking/frontend/src/city-visitor-parking-active-card-editor.ts
  custom_components/city_visitor_parking/frontend/src/city-visitor-parking-active-card.ts
  custom_components/city_visitor_parking/frontend/src/city-visitor-parking-card-editor.ts
  custom_components/city_visitor_parking/frontend/src/city-visitor-parking-card.ts
  custom_components/city_visitor_parking/frontend/src/translations/en.json
  custom_components/city_visitor_parking/frontend/src/translations/nl.json
Due: frontend-eslint, frontend-prettier, frontend-types, frontend-test, frontend-build

Update config flow placeholders and bump version to 0.1.24
  custom_components/city_visitor_parking/config_flow.py
  custom_components/city_visitor_parking/manifest.json
Due: none

Add Nijmegen
  README.md
  custom_components/city_visitor_parking/providers.yaml
Due: none

Correct municipality name for Nijmegen
  custom_components/city_visitor_parking/providers.yaml
Due: none

Add Nijmegen (#29)
  README.md
  custom_components/city_visitor_parking/providers.yaml
Due: none

Add PYTHONPATH environment variable to pytest step
  .github/workflows/validate.yml
Due: none

Update validate.yml to include PYTHONPATH in pytest step
  .github/workflows/validate.yml
Due: none

Update validate.yml to include PYTHONPATH in pytest step (#30)
  .github/workflows/validate.yml
Due: none

Update package.json
  custom_components/city_visitor_parking/frontend/package.json
Due: frontend-types, frontend-test, frontend-build

Update package.json (#33)
  custom_components/city_visitor_parking/frontend/package.json
Due: frontend-types, frontend-test, frontend-build

Add @eslint/js
  custom_components/city_visitor_parking/frontend/package.json
  custom_components/city_visitor_parking/frontend/yarn.lock
Due: frontend-types, frontend-test, frontend-build

Add @eslint/js (#34)
  custom_components/city_visitor_parking/frontend/package.json
  custom_components/city_visitor_parking/frontend/yarn.lock
Due: frontend-types, frontend-test, frontend-build

Fix frontend lint dependency setup
  custom_components/city_visitor_parking/frontend/package.json
  custom_components/city_visitor_parking/frontend/yarn.lock
Due: frontend-types, frontend-test, frontend-build

Path conditions:
  frontend-eslint: any of: ^custom_components/city_visitor_parking/frontend/src/.*\.ts$
  frontend-prettier: any of: ^custom_components/city_visitor_parking/frontend/src/.*\.(ts|json|md|css)$
  frontend-types: any of: ^custom_components/city_visitor_parking/frontend/.*\.(ts|json)$
  frontend-test: any of: ^custom_components/city_visitor_parking/frontend/.*\.(ts|json|md|css)$
  frontend-build: any of: ^custom_components/city_visitor_parking/frontend/.*\.(ts|json|md|css)$
