Repository sir-Unknown/ha_City-Visitor-Parking: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-types, frontend-test, frontend-build

frontend-eslint:
  name: frontend eslint
  entry: yarn --cwd custom_components/city_visitor_parking/frontend lint:eslint
  language: system
  pass_filenames: false

frontend-prettier:
  name: frontend prettier
  entry: yarn --cwd custom_components/city_visitor_parking/frontend lint:prettier --write
  language: system
  pass_filenames: false

frontend-types:
  name: frontend types
  entry: yarn --cwd custom_components/city_visitor_parking/frontend lint:types
  language: system
  pass_filenames: false

frontend-test:
  name: frontend test
  entry: yarn --cwd custom_components/city_visitor_parking/frontend test
  language: system
  pass_filenames: false

frontend-build:
  name: frontend build
  entry: yarn --cwd custom_components/city_visitor_parking/frontend build
  language: system
  pass_filenames: false

refactor(core): simplify coordinator, entities, and service error handling
  custom_components/city_visitor_parking/__init__.py
  custom_components/city_visitor_parking/config_flow.py
  custom_components/city_visitor_parking/coordinator.py
  custom_components/city_visitor_parking/entity.py
  custom_components/city_visitor_parking/sensor.py
  custom_components/city_visitor_parking/services.py
  custom_components/city_visitor_parking/time_windows.py
  custom_components/city_visitor_parking/websocket_api.py
Due: none

refactor(frontend): consolidate cards into a single bundled module
  custom_components/city_visitor_parking/frontend/dist/city-visitor-parking-active-card-editor.js
  custom_components/city_visitor_parking/frontend/dist/city-visitor-parking-active-card.js
  custom_components/city_visitor_parking/frontend/dist/city-visitor-parking-card.js
  custom_components/city_visitor_parking/frontend/dist/city-visitor-parking.js
  custom_components/city_visitor_parking/frontend/package.json
  custom_components/city_visitor_parking/frontend/src/card-editor-shared.ts
  custom_components/city_visitor_parking/frontend/src/card-shared.ts
  custom_components/city_visitor_parking/frontend/src/city-visitor-parking-active-card-editor.ts
  custom_components/city_visitor_parking/frontend/src/city-visitor-parking-active-card.ts
  custom_components/city_visitor_parking/frontend/src/city-visitor-parking-card-editor.ts
  custom_components/city_visitor_parking/frontend/src/city-visitor-parking-card.ts
  custom_components/city_visitor_parking/frontend/src/index.ts
  custom_components/city_visitor_parking/frontend/src/localize.ts
Due: frontend-eslint, frontend-prettier, frontend-types, frontend-test, frontend-build

fix(core): restore lint and test compatibility after branch split
  custom_components/city_visitor_parking/__init__.py
  custom_components/city_visitor_parking/sensor.py
  custom_components/city_visitor_parking/services.py
Due: none

fix(ci): sync ruff and pyright python targets on minor bumps
  .github/workflows/sync-python-version.yml
Due: none

fix(ci): skip duplicate python bump PR creation
  .github/workflows/sync-python-version.yml
Due: none

style: apply ruff format to coordinator in PR #64
  custom_components/city_visitor_parking/coordinator.py
Due: none

chore(dev): improve CI and local development setup (#64)
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/sync-python-version.yml
  .github/workflows/validate.yml
  .gitignore
  .pre-commit-config.yaml
  .python-version
  .vscode/extensions.json
  .vscode/settings.json
  custom_components/city_visitor_parking/coordinator.py
  pyproject.toml
  scripts/run-hassfest.sh
Due: none

refactor(core): simplify coordinator, entities, and service error handling (#65)
  custom_components/city_visitor_parking/__init__.py
  custom_components/city_visitor_parking/config_flow.py
  custom_components/city_visitor_parking/coordinator.py
  custom_components/city_visitor_parking/entity.py
  custom_components/city_visitor_parking/sensor.py
  custom_components/city_visitor_parking/services.py
  custom_components/city_visitor_parking/time_windows.py
  custom_components/city_visitor_parking/websocket_api.py
Due: none

docs(frontend): document resource URL breaking change and migration
  MIGRATION.md
  README.md
  docs/cards.md
Due: none

refactor(frontend): keep single bundle on legacy card URL
  MIGRATION.md
  README.md
  custom_components/city_visitor_parking/__init__.py
  custom_components/city_visitor_parking/frontend/dist/city-visitor-parking-card.js
  custom_components/city_visitor_parking/frontend/package.json
  docs/cards.md
Due: frontend-types, frontend-test, frontend-build

style(frontend): apply prettier formatting for index.ts
  custom_components/city_visitor_parking/frontend/src/index.ts
Due: frontend-eslint, frontend-prettier, frontend-types, frontend-test, frontend-build

fix(tests): restore entity init compatibility and split lovelace resource assertions
  custom_components/city_visitor_parking/entity.py
  tests/components/city_visitor_parking/test_init.py
Due: none

refactor(frontend): consolidate cards into a single bundled module (#66)
  MIGRATION.md
  README.md
  custom_components/city_visitor_parking/__init__.py
  custom_components/city_visitor_parking/entity.py
  custom_components/city_visitor_parking/frontend/dist/city-visitor-parking-active-card-editor.js
  custom_components/city_visitor_parking/frontend/dist/city-visitor-parking-active-card.js
  custom_components/city_visitor_parking/frontend/package.json
  custom_components/city_visitor_parking/frontend/src/card-editor-shared.ts
  custom_components/city_visitor_parking/frontend/src/card-shared.ts
  custom_components/city_visitor_parking/frontend/src/city-visitor-parking-active-card-editor.ts
  custom_components/city_visitor_parking/frontend/src/city-visitor-parking-active-card.ts
  custom_components/city_visitor_parking/frontend/src/city-visitor-parking-card-editor.ts
  custom_components/city_visitor_parking/frontend/src/city-visitor-parking-card.ts
  custom_components/city_visitor_parking/frontend/src/index.ts
  custom_components/city_visitor_parking/frontend/src/localize.ts
  docs/cards.md
  tests/components/city_visitor_parking/test_init.py
Due: frontend-eslint, frontend-prettier, frontend-types, frontend-test, frontend-build

chore(dev): make pre-commit run local python and frontend checks consistently
  .pre-commit-config.yaml
  scripts/run-frontend-tool.sh
  scripts/run-hassfest.sh
  scripts/run-python-tool.sh
Due: none

chore(release): add breaking-change category to release drafter
  .github/release-drafter.yml
Due: none

fix(frontend): prevent duplicate card registration after resource cleanup
  custom_components/city_visitor_parking/frontend/dist/city-visitor-parking-card.js
  custom_components/city_visitor_parking/frontend/src/index.ts
Due: frontend-eslint, frontend-prettier, frontend-types, frontend-test, frontend-build

fix(frontend): prevent duplicate card registration after resource cleanup (#68)
  custom_components/city_visitor_parking/frontend/dist/city-visitor-parking-card.js
  custom_components/city_visitor_parking/frontend/src/index.ts
Due: frontend-eslint, frontend-prettier, frontend-types, frontend-test, frontend-build

fix(dev): address PR 67 review findings
  .github/workflows/sync-python-version.yml
  .pre-commit-config.yaml
  scripts/run-python-tool.sh
Due: none

chore(dev): improve CI and local development setup (#67)
  .github/release-drafter.yml
  .github/workflows/sync-python-version.yml
  .pre-commit-config.yaml
  scripts/run-frontend-tool.sh
  scripts/run-hassfest.sh
  scripts/run-python-tool.sh
Due: none

feat: expand service status responses
  README.md
  custom_components/city_visitor_parking/payloads.py
  custom_components/city_visitor_parking/services.py
  custom_components/city_visitor_parking/services.yaml
  custom_components/city_visitor_parking/strings.json
  custom_components/city_visitor_parking/translations/en.json
  custom_components/city_visitor_parking/translations/nl.json
  custom_components/city_visitor_parking/websocket_api.py
  docs/privacy.md
  docs/services.md
  tests/components/city_visitor_parking/test_services.py
Due: none

fix: stabilize runtime availability handling
  custom_components/city_visitor_parking/__init__.py
  custom_components/city_visitor_parking/config_flow.py
  custom_components/city_visitor_parking/coordinator.py
  custom_components/city_visitor_parking/entity.py
  custom_components/city_visitor_parking/helpers.py
  custom_components/city_visitor_parking/models.py
  custom_components/city_visitor_parking/sensor.py
  custom_components/city_visitor_parking/time_windows.py
Due: none

chore: track repo housekeeping updates
  custom_components/city_visitor_parking/AGENTS.md
  uv.lock
Due: none

feat: add parking registration blueprints
  blueprints/README.md
  blueprints/smart_parking_registration_en.yaml
  blueprints/smart_parking_registration_nl.yaml
Due: none

chore: stabilize local validation tooling
  custom_components/city_visitor_parking/models.py
  custom_components/city_visitor_parking/websocket_api.py
  pyrightconfig.json
  scripts/run-python-tool.sh
  tests/components/city_visitor_parking/test_init.py
Due: none

chore: add sandbox pytest workarounds
  tests/conftest.py
Due: none

fix: restore plate normalization helper
  custom_components/city_visitor_parking/helpers.py
Due: none

fix: preserve reservation API compatibility
  custom_components/city_visitor_parking/services.py
  custom_components/city_visitor_parking/websocket_api.py
  tests/components/city_visitor_parking/test_services.py
Due: none

fix: import coordinator data for websocket cast
  custom_components/city_visitor_parking/websocket_api.py
Due: none

fix: rely on coordinator typing in websocket status
  custom_components/city_visitor_parking/websocket_api.py
Due: none

fix: restore websocket utc helper for tests
  custom_components/city_visitor_parking/websocket_api.py
Due: none

fix: limit websocket datetime import to typing
  custom_components/city_visitor_parking/websocket_api.py
Due: none

fix: align service status tests with local overrides
  custom_components/city_visitor_parking/services.py
  tests/components/city_visitor_parking/test_services.py
Due: none

style: format service favorites response
  custom_components/city_visitor_parking/services.py
Due: none

feat: expand service status responses (#72)
  README.md
  custom_components/city_visitor_parking/helpers.py
  custom_components/city_visitor_parking/payloads.py
  custom_components/city_visitor_parking/services.py
  custom_components/city_visitor_parking/services.yaml
  custom_components/city_visitor_parking/strings.json
  custom_components/city_visitor_parking/translations/en.json
  custom_components/city_visitor_parking/translations/nl.json
  custom_components/city_visitor_parking/websocket_api.py
  docs/privacy.md
  docs/services.md
  tests/components/city_visitor_parking/test_services.py
Due: none

feat: refresh frontend reservation cards
  custom_components/city_visitor_parking/frontend/dist/city-visitor-parking-card.js
  custom_components/city_visitor_parking/frontend/src/index.ts
  custom_components/city_visitor_parking/frontend/yarn.lock
Due: frontend-eslint, frontend-prettier, frontend-types, frontend-test, frontend-build

style: format frontend card source
  custom_components/city_visitor_parking/frontend/src/index.ts
Due: frontend-eslint, frontend-prettier, frontend-types, frontend-test, frontend-build

fix: update vulnerable frontend dependency
  custom_components/city_visitor_parking/frontend/yarn.lock
Due: none

feat: refresh frontend reservation cards (#75)
  custom_components/city_visitor_parking/frontend/dist/city-visitor-parking-card.js
  custom_components/city_visitor_parking/frontend/src/index.ts
  custom_components/city_visitor_parking/frontend/yarn.lock
Due: frontend-eslint, frontend-prettier, frontend-types, frontend-test, frontend-build

fix: keep manual provider setup retryable
  custom_components/city_visitor_parking/config_flow.py
  custom_components/city_visitor_parking/coordinator.py
Due: none

Path conditions:
  frontend-eslint: any of: ^custom_components/city_visitor_parking/frontend/src/.*\.ts$
  frontend-prettier: any of: ^custom_components/city_visitor_parking/frontend/src/.*\.(ts|json|md|css)$
  frontend-types: any of: ^custom_components/city_visitor_parking/frontend/.*\.(ts|json)$
  frontend-test: any of: ^custom_components/city_visitor_parking/frontend/.*\.(ts|json|md|css)$
  frontend-build: any of: ^custom_components/city_visitor_parking/frontend/.*\.(ts|json|md|css)$
