Repository sir-Unknown/ha_City-Visitor-Parking: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-types, frontend-test, frontend-build

frontend-eslint:
  name: frontend eslint
  entry: yarn --cwd custom_components/city_visitor_parking/frontend lint:eslint
  language: system
  pass_filenames: false

frontend-prettier:
  name: frontend prettier
  entry: yarn --cwd custom_components/city_visitor_parking/frontend lint:prettier --write
  language: system
  pass_filenames: false

frontend-types:
  name: frontend types
  entry: yarn --cwd custom_components/city_visitor_parking/frontend lint:types
  language: system
  pass_filenames: false

frontend-test:
  name: frontend test
  entry: yarn --cwd custom_components/city_visitor_parking/frontend test
  language: system
  pass_filenames: false

frontend-build:
  name: frontend build
  entry: yarn --cwd custom_components/city_visitor_parking/frontend build
  language: system
  pass_filenames: false

Codex/push 20260213 1 (#35)
  custom_components/city_visitor_parking/frontend/yarn.lock
Due: none

Migrate frontend to Yarn 4
  .github/workflows/release.yml
  .github/workflows/validate.yml
  .gitignore
  custom_components/city_visitor_parking/frontend/.yarnrc.yml
  custom_components/city_visitor_parking/frontend/package.json
  custom_components/city_visitor_parking/frontend/yarn.lock
Due: frontend-types, frontend-test, frontend-build

Update frontend lint dependencies
  custom_components/city_visitor_parking/frontend/package.json
  custom_components/city_visitor_parking/frontend/yarn.lock
Due: frontend-types, frontend-test, frontend-build

Upgrade ESLint to v10
  custom_components/city_visitor_parking/frontend/package.json
  custom_components/city_visitor_parking/frontend/yarn.lock
Due: frontend-types, frontend-test, frontend-build

Update pre-commit hooks and Python 3.14 config
  .pre-commit-config.yaml
  .python-version
  mypy.ini
  pyproject.toml
  pyrightconfig.json
Due: none

Sync release workflow updates
  .github/workflows/release.yml
Due: none

Modernize frontend tooling and CI setup (#36)
  .github/workflows/release.yml
  .github/workflows/validate.yml
  .gitignore
  .pre-commit-config.yaml
  .python-version
  custom_components/city_visitor_parking/frontend/.yarnrc.yml
  custom_components/city_visitor_parking/frontend/package.json
  custom_components/city_visitor_parking/frontend/yarn.lock
  mypy.ini
  pyproject.toml
  pyrightconfig.json
Due: frontend-types, frontend-test, frontend-build

Fix setup-node with Yarn 4/Corepack
  .github/workflows/release.yml
  .github/workflows/validate.yml
Due: none

Modernize tooling and fix Yarn 4 CI (#37)
  .github/workflows/release.yml
  .github/workflows/validate.yml
Due: none

Fix dependency-review refs for manual workflow runs
  .github/workflows/dependency-review.yml
Due: none

Fix dependency-review refs for manual workflow runs (#38)
  .github/workflows/dependency-review.yml
Due: none

Set default refs for manual dependency review runs
  .github/workflows/dependency-review.yml
Due: none

Fix release-drafter permissions for PR labeling
  .github/workflows/release-drafter.yml
Due: none

Enable retry on dependency snapshot warnings
  .github/workflows/dependency-review.yml
Due: none

Use default refs for manual dependency review workflow (#39)
  .github/workflows/dependency-review.yml
Due: none

Fix Release Drafter access for PR autolabeling (#40)
  .github/workflows/dependency-review.yml
  .github/workflows/release-drafter.yml
Due: none

Fix Release Drafter webhook event handling
  .github/workflows/release-drafter.yml
Due: none

Fix Release Drafter webhook event handling (#41)
  .github/workflows/release-drafter.yml
Due: none

Use separate PR labeler workflow
  .github/labeler.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/release-drafter.yml
Due: none

Keep only one draft release in Release Drafter
  .github/workflows/release-drafter.yml
Due: none

Fix Release Drafter webhook event handling (#42)
  .github/labeler.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/release-drafter.yml
Due: none

Fix permit dropdown showing raw placeholder value in new ha-select
  custom_components/city_visitor_parking/frontend/dist/city-visitor-parking-card.js
  custom_components/city_visitor_parking/frontend/src/card-shared.ts
  custom_components/city_visitor_parking/frontend/src/city-visitor-parking-card.ts
  custom_components/city_visitor_parking/manifest.json
Due: frontend-eslint, frontend-prettier, frontend-types, frontend-test, frontend-build

Pin actions/labeler to specific commit hash for security
  .github/workflows/pr-labeler.yml
Due: none

Pin actions/labeler to specific commit hash for security
  .claude/settings.local.json
  custom_components/city_visitor_parking/frontend/package-lock.json
Due: frontend-types, frontend-test, frontend-build

Pin actions/labeler to specific commit hash for security (#58)
  .github/workflows/pr-labeler.yml
Due: none

Fix release-drafter status check not reporting on pull requests
  .github/workflows/release-drafter.yml
Due: none

Fix release-drafter status check not reporting on pull requests (#60)
  .github/workflows/release-drafter.yml
Due: none

Update version to 0.1.27 in manifest.json
  custom_components/city_visitor_parking/manifest.json
Due: none

Fix Prettier formatting issues in card-shared.ts and city-visitor-parking-card.ts
  custom_components/city_visitor_parking/frontend/src/card-shared.ts
  custom_components/city_visitor_parking/frontend/src/city-visitor-parking-card.ts
Due: frontend-eslint, frontend-prettier, frontend-types, frontend-test, frontend-build

Fix permit dropdown showing raw placeholder value in new ha-select (#61)
  custom_components/city_visitor_parking/frontend/dist/city-visitor-parking-card.js
  custom_components/city_visitor_parking/frontend/src/card-shared.ts
  custom_components/city_visitor_parking/frontend/src/city-visitor-parking-card.ts
  custom_components/city_visitor_parking/manifest.json
Due: frontend-eslint, frontend-prettier, frontend-types, frontend-test, frontend-build

refactor(core): simplify coordinator, entities, and service error handling
  custom_components/city_visitor_parking/__init__.py
  custom_components/city_visitor_parking/config_flow.py
  custom_components/city_visitor_parking/coordinator.py
  custom_components/city_visitor_parking/entity.py
  custom_components/city_visitor_parking/sensor.py
  custom_components/city_visitor_parking/services.py
  custom_components/city_visitor_parking/time_windows.py
  custom_components/city_visitor_parking/websocket_api.py
Due: none

chore(dev): improve CI and local development setup
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/sync-python-version.yml
  .github/workflows/validate.yml
  .gitignore
  .pre-commit-config.yaml
  .python-version
  .vscode/extensions.json
  .vscode/settings.json
  pyproject.toml
  scripts/run-hassfest.sh
Due: none

refactor(frontend): consolidate cards into a single bundled module
  custom_components/city_visitor_parking/frontend/dist/city-visitor-parking-active-card-editor.js
  custom_components/city_visitor_parking/frontend/dist/city-visitor-parking-active-card.js
  custom_components/city_visitor_parking/frontend/dist/city-visitor-parking-card.js
  custom_components/city_visitor_parking/frontend/dist/city-visitor-parking.js
  custom_components/city_visitor_parking/frontend/package.json
  custom_components/city_visitor_parking/frontend/src/card-editor-shared.ts
  custom_components/city_visitor_parking/frontend/src/card-shared.ts
  custom_components/city_visitor_parking/frontend/src/city-visitor-parking-active-card-editor.ts
  custom_components/city_visitor_parking/frontend/src/city-visitor-parking-active-card.ts
  custom_components/city_visitor_parking/frontend/src/city-visitor-parking-card-editor.ts
  custom_components/city_visitor_parking/frontend/src/city-visitor-parking-card.ts
  custom_components/city_visitor_parking/frontend/src/index.ts
  custom_components/city_visitor_parking/frontend/src/localize.ts
Due: frontend-eslint, frontend-prettier, frontend-types, frontend-test, frontend-build

fix(ci): resolve ruff and prettier violations
  custom_components/city_visitor_parking/__init__.py
  custom_components/city_visitor_parking/frontend/src/index.ts
  custom_components/city_visitor_parking/sensor.py
  custom_components/city_visitor_parking/services.py
Due: frontend-eslint, frontend-prettier, frontend-types, frontend-test, frontend-build

style: apply ruff format to coordinator
  custom_components/city_visitor_parking/coordinator.py
Due: none

fix(services): restore private error key wrappers for tests
  custom_components/city_visitor_parking/services.py
Due: none

style: apply ruff format to services helper
  custom_components/city_visitor_parking/services.py
Due: none

style: apply ruff format for core refactor branch
  custom_components/city_visitor_parking/coordinator.py
  custom_components/city_visitor_parking/services.py
Due: none

Path conditions:
  frontend-eslint: any of: ^custom_components/city_visitor_parking/frontend/src/.*\.ts$
  frontend-prettier: any of: ^custom_components/city_visitor_parking/frontend/src/.*\.(ts|json|md|css)$
  frontend-types: any of: ^custom_components/city_visitor_parking/frontend/.*\.(ts|json)$
  frontend-test: any of: ^custom_components/city_visitor_parking/frontend/.*\.(ts|json|md|css)$
  frontend-build: any of: ^custom_components/city_visitor_parking/frontend/.*\.(ts|json|md|css)$
